<h1>control flow statement</h1>
<div>
  @if (islogin()) {
    <span>we are logged in</span>
    <button (click)="handlelogin(false)">Logout</button>
  }
  @else {
    <span>please login</span>
    <button (click)="handlelogin(true)">Login</button>
  }
</div>

<hr>
<h1>Toggle</h1>
@if (show()) {
<button (click)="show.set(false)">hide</button>
}@else {
<button (click)="show.set(true)">show</button>
}

<hr>
<h1>check staus</h1>
<select (change)="handllestatus($event)">
  <option value="notstarted">Not Started</option>
  <option value="progress">In Progress</option>
  <option value="success">Success</option>
  <option value="failure">Failure</option>
</select>
<br>

@if (status()=="notstarted") {
  <span style="color: black;">no started</span>
}@else if (status()=="progress") {
  <span style="color: orange;">in progress</span>

}@else if (status()=="success") {
  <span style="color: green;">success</span>
}@else if (status()=="failure") {
  <span style="color: red;">failure</span>
}

<br>

<h1>For loop</h1>

<ul>
  @for(user of users();track user){
    <li>{{user}}</li>
  }
</ul>
<hr>
<ul>
  @for (user of userdetails(); track user.id) {

    <li [style.backgroundColor]="$odd ? 'green' : 'lightgray'">

      <span>
        {{$index + 1}} {{user.name + " " + user.email}}

        @if ($first) {
          <span style="color: red;">Admin</span>
        }

        @if ($last) {
          <span style="color: red;">Guest</span>
        }
      </span>

      @if ($count == $index + 1) {
        <span>
          <b>Total users</b> {{$count}}
        </span>
      }

    </li>

  }
</ul>


