<h1>control flow statement</h1>
<div>
  @if (islogin()) {
    <span>we are logged in</span>
    <button (click)="handlelogin(false)">Logout</button>
  }
  @else {
    <span>please login</span>
    <button (click)="handlelogin(true)">Login</button>
  }
</div>

<hr>
<h1>Toggle</h1>
@if (show()) {
<button (click)="show.set(false)">hide</button>
}@else {
<button (click)="show.set(true)">show</button>
}

<hr>
<h1>check staus</h1>
<select (change)="handllestatus($event)">
  <option value="notstarted">Not Started</option>
  <option value="progress">In Progress</option>
  <option value="success">Success</option>
  <option value="failure">Failure</option>
</select>
<br>

@if (status()=="notstarted") {
  <span style="color: black;">no started</span>
}@else if (status()=="progress") {
  <span style="color: orange;">in progress</span>

}@else if (status()=="success") {
  <span style="color: green;">success</span>
}@else if (status()=="failure") {
  <span style="color: red;">failure</span>
}

<br>

<h1>For loop</h1>

<ul>
  @for(user of users();track user){
    <li>{{user}}</li>
  }
</ul>
<hr>
<ul>
  @for (user of userdetails(); track user.id) {

    <li [style.backgroundColor]="$odd ? 'green' : 'lightgray'">

      <span>
        {{$index + 1}} {{user.name + " " + user.email}}

        @if ($first) {
          <span style="color: red;">Admin</span>
        }

        @if ($last) {
          <span style="color: red;">Guest</span>
        }
      </span>

      @if ($count == $index + 1) {
        <span>
          <b>Total users</b> {{$count}}
        </span>
      }

    </li>

  }
</ul>


<hr>
<h1>switch statement</h1>

<select (change)="handleswitch($event)" name="statusnew" id="">
  <option value="notstarted">Not Started</option>
  <option value="progress">In Progress</option>
  <option value="success">Success</option>
  <option value="error">Failure</option>
</select>

@switch (statusnew()) {
  @case("notstarted") {
    <span style="color: black;">not started</span>
  }
  @case("progress") {
    <span style="color: orange;">in progress</span>
  }
  @case("success") {
    <span style="color: orange;">success</span>

  }
  @default {
    <span>error</span>
  }


}

<hr>
<h1>two way binding</h1>

<h1>{{name()}}</h1>
<input type="text" [value]="name()" (input)="name.set($event.target.value)">
<br>
<h1>{{age}}</h1>
<!-- <input type="text" [value]="age" [(ngModel)]="age"> -->
 <input type="text" [(ngModel)]="age">

 <h1>{{userdata().name}}</h1>
 <input type="text" [value]="userdata().name" (input)="updateuserdata('name', $event.target.value)">
 <br>
 <h1>{{userdata().age}}</h1>
 <input type="text" [value]="userdata().age" (input)="updateuserdata('age', $event.target.value)">
 <br>
 <h1>{{userdata().email}}</h1>
 <input type="text" [value]="userdata().email" (input)="updateuserdata('email', $event.target.value)">

<hr>

<h1>{{uname}}</h1>
<input type="text" [(ngModel)]="uname">
<hr>
<h2>{{usercollege}}</h2>
<input type="text" [(ngModel)]="usercollege">


<hr>
<h1>To do list</h1>
<input type="text" [value]="title()" placeholder="Add a new task" (input)="title.set($event.target.value)">
<button (click)="addtask()">Add Task</button>
<ul>
@for(task of tasks();track task.id){
  <li class="task-list">
    <span>{{$index + 1}}</span>
    <span>{{task.title}}</span>
    <span><button (click)="deletetask(task.id)">Delete</button></span>
  </li>
  
}
@empty{
  <span>no task foound</span>
}
</ul>

<br>
<hr>
@if(islogin2()){
  <h1>Welcome user</h1>

  <ul>
    <li *ngFor="let student of students">
      {{student}}
    </li>
  </ul>

  <ul>
    <li *ngFor="let student of studentdata">
      {{student.name}} - {{student.age}} - {{student.email}}
    </li>
  </ul>
}

<hr>
<div *ngIf="islogin3; else loginblock">
  <a href="" >Logout</a>
</div>
<ng-template #loginblock> 
  <a href="">Login</a>
</ng-template>

<h1>switch</h1>
<button (click)="changecolor('red')">red</button>
<button (click)="changecolor('green')">green</button>
<button (click)="changecolor('blue')">blue</button>

<div [ngSwitch]="color">
  <span *ngSwitchCase="'red'" style="background-color: red;">red color</span>
  <span *ngSwitchCase="'green'" style="background-color: green;">green color</span>
  <span *ngSwitchCase="'blue'" style="background-color: blue;">blue color</span>
  <span *ngSwitchDefault>no color found</span>
</div>






